*{
  margin: 0;padding: 0;box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

:root{
  --color-x : #FF6347;
  --color-o : #00FFFF;
  --grid-border: #A020F0;
}

.welcome{
  padding: 100px 0 0;
  min-height: 100vh;
  text-align: center;
  text-transform: capitalize;
  background:black url(./assets/tic_tac_toe_img.png) no-repeat left fixed;
  background-size: 500px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  flex-direction: column;
  .link{
    text-decoration: none;
  }
  p,h1{
  background: linear-gradient(45deg, #FFFF00, rgb(173, 220, 239));
  width: fit-content;
  background-clip: text;
  color: transparent;
  }
  h1{
    font-size: 5rem;
    letter-spacing: 2px;
    line-height: 2;
  }
  p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 3rem;
    line-height: 2;
    letter-spacing: 0.5px;
  }
}

.game-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000;
  color: white;
  position: relative;
  .form-move{
    transform: translateY(-100%);
    transition: all 0.5s ease;
  }
  > div{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1{
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 500;
    }
    .score{
      text-transform: uppercase;
      letter-spacing: 2px;
      display: flex;
      justify-content: space-between;
      gap: 100px;
      padding: 10px;
      p span:last-child{
        color: #FFFF00;
      }
      /* width: 200px; */
    }
    .retry-butt{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      /* background-color: aqua; */
      width: 300px;
      button{
        padding: 6px 10px;
        border-radius: 10px;
        border: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        color: white;
        /* width: 100px; */
      }
      .first{
        background-color: var(--color-x);
      }
      .last{
        background-color: var(--color-o);
        color: #1e1e1e;
      }
    }
  }
  form{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    .div-width{
      height: 200px;
    }
    div{
      padding: 20px;
      height: 130px;
      width: 30%;
      background-color: rgba(254, 254, 254, 0.4);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      input{
        text-transform: none;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        width: 100%;
        outline: none;
      }
      ::placeholder{text-transform: capitalize;}
      button{
        padding: 8px 25px;
        border-radius: 10px;
        border: none;
        background-color: black;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;

      }
    }
  }
  .board{
    /* background-color: white; */
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    justify-content: center;
    align-items: center;
    button{
      height: 100%;
      aspect-ratio: 1;
      background: black;
      border: 3px solid var(--grid-border);
    }
    button:active{
      scale: unset;
    }
    :nth-child(1),:nth-child(4),:nth-child(7){
      border-left:none;
    }
    :nth-child(1),:nth-child(2),:nth-child(3){
      border-top:none;
    }
    :nth-child(3),:nth-child(6),:last-child{
      border-right:none;
    }
    :nth-child(7),:nth-child(8),:last-child{
      border-bottom:none;
    }
  }
}

select{
  background-color: black;
  color: #FFFF00;
  border: none;
  padding: 10px;
  margin-top: -100px;
  outline: none;
}

.bord-butt{
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.victory{
  color: #39FF14;
}

.salmon{
  color: var(--color-x);
}

.green{
  color: var(--color-o);
}

.anime{
  animation: anime 2s infinite ease-in;
}


button:active{
  scale: 0.976;
}

@keyframes anime {
  0% {
    box-shadow: 0 0 30px -30px var(--color-o);
  }
  25%{
    box-shadow: 0 0 30px -15px var(--color-o);
  }
  30%{
    box-shadow: 0 0 30px 0px var(--color-o);
  }
  50% {
    box-shadow: 0 0 30px -15px var(--color-o);
  }
  75%{
    box-shadow: 0 0 30px 0px var(--color-o);
  }
  100% {
    box-shadow: 0 0 30px -30px var(--color-o);
  }
}

/* note: min-width: 444px and max-width: 641px */
@media screen and (min-width:444px) and (max-width:641px){
  .welcome{
    h1{
      font-size: 4rem;
    }
    p{
      font-size: 2rem;
    }
  }
  .game-page{
    form{
      div{
        width: 50%;
        
      }
    }
  }
}

/* note: max-width: 443px */
@media screen and (max-width:444px){
  .welcome{
    background-position: 50% 400px;
    background-size: 200px;
    padding: unset;
    justify-content: center;
    h1{
      font-size: 2.7rem;
      letter-spacing: 1px;
    }
    p{
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }

  .game-page{
    .board{
      grid-template-columns: repeat(3,80px);
      grid-template-rows: repeat(3,80px);
      button{
        border-width: 2px;
        /* border-color: green; */
      }
    }
    .score{
      p{
        font-size: 0.9rem;
        letter-spacing: 0.8px;
      }
    }
    >div{
      h1{
        font-size: 1.6rem;
        letter-spacing: 0.8px;
      }
      .retry-butt{
        width: 90%;
      }
    }

    form{
      /* background-color: pink; */
      div{
        width: 85%;
        input{
          font-size: 0.8rem;
          padding: 8px;
        }
        button{
          font-size: 0.8rem;
          padding: 6px 20px;
        }
      }
    }
  }

  .bord-butt{
    font-size: 1.6rem;
    font-weight: 500;
  }
}

/* note: max-width: 270px */
@media screen and (max-width:330px){
  .game-page{
    >div{
      .retry-butt{
        button{
          font-size: 0.7rem;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  
}


/* note: max-width: 270px */
@media screen and (max-width:270px){
  .welcome{
    h1{
      font-size: 2.5rem;
      line-height: 1.5;
    }
    p{
      font-size: 1.3rem;
    }
  }
  
}